Repository gagle/angular-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, stylelint --syntax scss --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": [
    "eslint --fix --cache"
  ],
  "*.scss": [
    "stylelint --syntax scss --fix",
    "prettier --write"
  ]
}

test
  .lintstagedrc.json
  .vscode/settings.json
  package.json
  src/app/app.component.html
Due: none

test
  .jsbeautifyrc
  src/app/app.component.html
Due: none

test
  src/app/app.component.html
Due: none

test
  src/app/services/api.service.ts
Due: eslint --fix --cache

test
  src/app/app.component.html
  src/app/services/api.service.ts
  tsconfig.eslint.json
Due: eslint --fix --cache

add workspace
  .gitignore
  .vscode/angular-starter.code-workspace
Due: none

add extensions and fixed js formatter
  .vscode/angular-starter.code-workspace
  .vscode/launch.json
  .vscode/settings.json
Due: none

update deps
  .vscode/angular-starter.code-workspace
  package.json
Due: none

remove warning from jest execution
  angular.json
  jest.config.js
  package.json
Due: none

remove launch setting for jest
  .vscode/launch.json
Due: none

rename workspace file
  .vscode/project.code-workspace
Due: none

fix start:build command
  package.json
Due: none

rename workspace file
  .vscode/angular-starter.code-workspace
Due: none

remove editorconfig
  .editorconfig
  .vscode/settings.json
Due: none

sort setting
  .vscode/settings.json
Due: none

remove useless classes
  src/app/app.component.html
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/components/first-component/first.component.scss
  src/app/components/first-component/first.component.spec.ts
  src/app/components/first-component/first.component.ts
  src/app/components/first-component/first.module.ts
  src/app/components/second-component/second.component.spec.ts
  src/app/components/second-component/second.component.ts
  src/app/components/second-component/second.module.ts
  src/app/services/api.service.spec.ts
  src/app/services/api.service.ts
  src/app/services/date.service.spec.ts
  src/app/services/date.service.ts
Due: eslint --fix --cache, stylelint --syntax scss --fix, prettier --write

moved extensions to file
  .vscode/angular-starter.code-workspace
  .vscode/extensions.json
  .vscode/settings.json
Due: none

more docs and replace webpack-bundle-analyzer by source-map-explorer
  .vscode/settings.json
  README.md
  angular.json
  package.json
Due: none

install new stylelint plugins
  .stylelintrc.json
  angular.json
  package.json
  src/styles.scss
  src/styles/main.scss
Due: stylelint --syntax scss --fix, prettier --write

chore: add commitlint
  .commitlintrc.json
  .huskyrc.json
  .vscode/settings.json
  package.json
Due: none

chore: add .editorconfig
  .editorconfig
Due: none

chore: improve type-check
  .eslintrc.json
  .huskyrc.json
  .prettierignore
  README.md
  angular.json
  package.json
  src/app/app.component.html
  src/app/app.component.ts
  tsconfig.base.json
  tsconfig.eslint.json
Due: eslint --fix --cache

chore: improve type-check
  .huskyrc.json
  .lintstagedrc.json
  package.json
  tsconfig.typecheck.json
Due: none

chore: improve type-check
  .lintstagedrc.json
  src/app/app.component.ts
Due: eslint --fix --cache

chore: improve type-check
  README.md
  package.json
  scripts/patches/@ngneat+spectator+5.13.3.patch
  tsconfig.typecheck.json
Due: none

chore: add code coverage limits
  jest.config.js
Due: none

chore: improve eslint rules
  .eslintrc.json
  .vscode/settings.json
  src/app/app.component.html
  src/app/app.component.ts
Due: eslint --fix --cache

chore: recover html formatter
  .vscode/settings.json
Due: none

chore: exclude linting assets
  angular.json
  package.json
Due: none

chore: exclude linting assets
  package.json
Due: none

chore: lint index.html and sort settings
  .eslintignore
  .vscode/settings.json
  angular.json
  src/index.html
Due: none

chore: lint only component html
  .vscode/settings.json
Due: none

chore: add eslint rule
  .eslintrc.json
Due: none

chore: remove caches
  .eslintrc.json
  .gitignore
  angular.json
  jest.config.js
  package-lock.json
  package.json
  tsconfig.lint.json
Due: none

build: remove unused code
  src/app/app.component.ts
Due: eslint --fix --cache

chore: add nvmrc file
  .nvmrc
Due: none

chore: syntax
  .vscode/launch.json
Due: none

chore: formatting
  .vscode/launch.json
Due: none

build: remove invalid html
  src/app/app.component.html
Due: none
